root = "."
tmp_dir = "tmp"

[build]
  pre_cmd = ["go generate ./internal/web"]
  cmd = "CGO_ENABLED=0 go build -o ./tmp/picsum-photos ./cmd/picsum-photos"
  bin = "./tmp/picsum-photos"
  full_bin = "./tmp/picsum-photos -listen :8080"
  delay = 0
  exclude_dir = ["tmp", "vendor", "node_modules", ".git"]
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_dir = []
  include_ext = ["go", "html", "css", "js"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = false
  keep_scroll = true

[proxy]
  enabled = true
  proxy_port = 8090
  app_port = 8080
